body{
    margin: 0;
    padding: 0;
    overflow:hidden;
}

p{ 
     text-align: center; 
     overflow: overlay;
     position: relative;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgb(248, 248, 248)
}

#toolbox{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.5em;
    margin-left: 1em;
    border: 2px solid #EEEEEE;
    background: rgb(248, 248, 248);
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
}

#toolbox input{
    width: 30px;
    opacity: 0.4;
}
#toolbox input:hover{
    opacity: 1;
    cursor: pointer;
}

#legend{
    position: absolute;
    top: 35%;
    right: 0;
    margin-right: 1em;
    border: 2px solid #EEEEEE;
    background: #EEEEEE;
    display: inline-block;        
    border-radius: 5px;
    padding: 1em;
    z-index: 5;
    text-align: center;
}

#legend input{
    width: 12em;
}

#legend input:hover{
    opacity: 1;
    cursor: pointer;
}

#hidden-file-upload{
    display: none;
}

#download-input{
    margin: 0 0.5em;
}

.conceptG text{
    pointer-events: none;
}

marker{
    fill: #000000;
}

g.conceptG circle{
    stroke: #000000 !important; 
    stroke-width: 2px;
}

g.selected circle{
    stroke-width: 5px !important;    
}

circle.hover {
    stroke-width: 5px !important;    
}

path.link {
    fill: none;
    stroke: #333;
    stroke-width: 6px;
    cursor: default;
}

path.link:hover{
    stroke: rgb(94, 196, 204);
}

g.connect-node circle{
    fill: #BEFFFF;
}

path.link.hidden{
    stroke-width: 0;
}

path.link.selected {
    stroke: rgb(229, 172, 247);
}

/* Legend */

.input-color {
    position: relative;
    margin: 5px 0px 5px 0px;
}
.input-color input {
    padding-left: 20px;
}
.input-color .color-box {
    width: 15px;
    height: 15px;
    display: inline-block;
    background-color: #ccc;
    position: absolute;
    left: 3px;
    top: 5px;
}