<!DOCTYPE HTML>
<html>

<head>
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <link rel="stylesheet" href="../static/graph-creator.css" />
    <link rel="stylesheet" href="../static/d3-context-menu.css" />    

</head>

<body>
    <div id="graph">
        <div id="legend">
            Tags
            <div class="input-color">
                <input type="text" placeholder="Tag 1" />
                <div class="color-box" style="background-color: #4dd0e2;"></div>
            </div>
            <div class="input-color">
                <input type="text" placeholder="Tag 2" />
                <div class="color-box" style="background-color: #ffb74e;"></div>
            </div>
            <div class="input-color">
                <input type="text" placeholder="Tag 3" />
                <div class="color-box" style="background-color: #f07677;"></div>
            </div>
            <div class="input-color">
                <input type="text" placeholder="Tag 4" />
                <div class="color-box" style="background-color: #81c683;"></div>
            </div>
            <div class="input-color">
                <input type="text" placeholder="Tag 5" />
                <div class="color-box" style="background-color: #6b6ee9"></div>
            </div>
        </div>
        <div id="toolbox">
            <input type="file" id="hidden-file-upload">
            <input type="image" id="upload-input" title="Upload graph" src="../static/upload-icon.png" alt="Upload graph">
            <input type="image" id="download-input" title="Download graph" src="../static/download-icon.png" alt="Download graph">
            <input type="image" id="delete-graph" title="Delete graph" src="../static/trash-icon.png" alt="Delete graph">
        </div>
    </div>

    <script src="../static/jquery.min.js"></script>
    <script src="../static/bootstrap.min.js"></script>
    <script src="//d3js.org/d3.v3.js" charset="utf-8"></script>
    <script src="//cdn.jsdelivr.net/filesaver.js/0.1/FileSaver.min.js"></script>
    <script src="../static/d3-context-menu.js"></script>
    <script src="../static/graph-creator.js"></script>
    <script src="../static/apiCalls.js"></script>
    


</body>

</html>
