<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home Page</title>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
<!--Main styles-->
<link rel="stylesheet" type="text/css" href="../static/main.css">
</head>
<body class="promo">
  <!-- Site Overlay -->
  <div class="site-overlay"></div>
  <div id="container">
    <div class="top_promo_block" id="promo_head">
      <div class="start_description">
        <h1>Welcome to <strong>Struct</strong>
          
          <span></span></h1>
        <span>Visualize project architectures and structure future designs. Made at HackGT.</span>
        <div class="search_promo">
          <div class="input-group">
            <input type="text" class="form-control" aria-label="...">
            <div class="input-group-btn btn_promo_search">
              <button onclick="location.href='/struct';" type="button" class="btn btn-success">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>



<script src="../static/jquery.min.js"></script>
<!--Other main scripts-->
<script src="../static/all_scr.js"></script>
<!--Bootstrap js-->  
<script src="../static/bootstrap.min.js"></script>

<script type="text/javascript">
"use strict";
setHeiHeight(); 
$(window).resize( setHeiHeight ); 
</script>

</body>
</html>